article img {
    width: 75%;
    height: auto;
}

body {
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
    font-size: 2em;
   }

footer {
    background-color: blue;
    color: white;
}

h1, h2 {
    font-family: 'Ultra', serif;
}

header {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: red;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    }

li {
    list-style-type: none;
}

nav a {
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

a {
    color: white;
      text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}
.about {
    background-color: white;
    color: black;
}

.contact {
    background-color: red;
    color: white;
}

.header {
    font-family: 'Ultra', serif;
    color: white;
    font-size: xxx-large;
}

.pic {
    padding: 48px;
    background-color: blue;
    color: white;
}