article img {
    width: 75%;
    height: auto;
}

body {
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
    font-size: 2em;
    color: white;
    background-image: url("images/Portfolio-background.png");
   }

footer {
    background-color: rgb(43, 37, 69);
    color: white;
}

h1, h2 {
    font-family: 'Ultra', serif;
}

header {
    padding-top: 48px;
    padding-bottom: 48px;
    color: white;
}

header img {
    width: 50%;
    height: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    }

li {
    list-style-type: none;
}

nav {
    color: rgb(196, 27, 139);
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(43,37,69);
}

nav a {
    border-left: thick ridge rgb(122, 194, 122);
    border-right: thick ridge  rgb(122, 194, 122);
}

nav a:hover {
    color: rgb(122, 194, 122);
    text-decoration: underline;
    text-transform: uppercase;
}

a {
    color: rgb(196, 27, 139);
      text-decoration: underline;
}

a:hover {
    color: rgb(143, 38, 128);
    text-decoration: underline;
}
.about {
    background-color: rgba(196, 27, 139, 0.8);
    color: white;
}

.contact {
    background-color: rgba(122, 194, 122, 0.8);
    color: white;
}

.pic {
    padding: 48px;
    background-color: rgba(143, 38, 128, 0.8);
    color: white;
}